
.preview {
  grid-area: preview;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
  &-buttons {    
   
   &__wrapper {
    display: flex;
    justify-content: space-around;
      button {
        height: 50px;
        width: 55px;
        font-size: 12px;
        border: 1px solid transparent;
        border-radius: 50%;
        word-wrap: break-word;
      }
   } 
  }
}
