.framebox {
  grid-area: framebox;

  display: flex;
  flex-direction: column;

  border: 2px solid black;

  &-frame {
    display: flex;

    &-buttons {
      display: flex;
      flex-direction: column;
    }
  }
}
