.toolbox {
  grid-area: toolbox;
  display: grid;
  grid-template-rows: repeat(5, 1fr);

  &-tools {
   
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    
    div > button {
      height: 60%;
      width: 80%;
      font-size: 21px;
      border: 1px solid transparent;
      border-radius: 50%;
    }
   
  }
  &-pensize {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: row;
      button {
        height: 60%;
        width: 80%;
        font-size: 21px;
        border: 1px solid transparent;
        border-radius: 50%;
      }
    }
  }
  &-canvas {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: row;
      button {
        height: 60%;
        width: 80%;
        font-size: 21px;
        border: 1px solid transparent;
        border-radius: 50%;
      }
    }
  }

  &-colors {
    display: flex;
    flex-direction: column;

    li {
      height: 20px;
      width: 20px;
      border: 1px solid black;
      border-radius: 50%;
      list-style-type: none;
    }

    &-active {
      display: flex;
      justify-content: space-evenly;
      div {
        height: 20px;
        width: 20px;
        border: 1px solid black;
        border-radius: 50%;
      }
    }

    &-palette {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &-controls {
    display: flex;

    button {
      flex: 1;
    }
  }
}

.tooltip-open {
  display: block;
  width: 50px; 
  height: 30px;    
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  position: relative;
  margin: 0 auto;
  word-wrap: break-word; 
}

.tooltip-closed {
  display: none;
}
