.mainbox {
  height: 100%;
  display: grid;
  grid-template: 30% 70% / 15% 65% 15%;
  grid-template-areas:
    'framebox canvas preview'
    'framebox canvas toolbox';
}

.tooltip {
  width: 30px;
  height: 10px;
  font-size: 10px;;
}
